@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@theme {
  --font-mono: "Inconsolata", monospace;

  /* Cores principais */
  --color-red: #e3646e !important;
  --color-purple: #bb72e9 !important;
  --color-blue: #3996db !important;
  --color-green: #82bc4f !important;
  --color-yellow: #eabd5f !important;

  /* Cores secundárias */
  --color-gray-100: #e2e4e9 !important;
  --color-gray-200: #c0c4ce !important;
  --color-gray-300: #878ea1 !important;
  --color-gray-400: #292c34 !important;
  --color-gray-500: #16181d !important;
  --color-black: #0d0e11 !important;
}

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--color-gray-500);
  color: var(--color-gray-100);
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-4xl font-extrabold;
}

h2 {
  @apply text-3xl font-extrabold;
}

h3 {
  @apply text-2xl font-extrabold;
}

h4 {
  @apply text-xl font-extrabold;
}

@layer components {
  .card {
    @apply p-12 bg-gray-500 rounded-lg text-white flex flex-col gap-20 border-4;
  }

  .card:hover {
    @apply border-gray-300;
  }
}
